<footer class="footer">
	 <div class="row">
			 <div class="col-6">

	 			 <%= link_to "Conditions d'utilisations", home_path  %>

			 </div>

		<div class="col-6">
			<%= link_to home_path do  %>
			 Site fait avec <i class="fa fa-heart"></i> par Nelly
			 <% end %>
		</div>

		</div>
</footer>
