<div class="landing-image">
<div class="welcome-text">
  <h1>MK - TOUR - 2019</h1>
 <p>Envie d'organiser une rencontre avec d'autres fans? Inscrivez vous, et proposez vous idées, envies....</p>
 <%= link_to "Voir les concerts", concerts_path, class: 'btn btn-primary '  %>
</div>
</div>




