// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.comments {
		padding: 20px;
		background-color :#aaa;
		margin-bottom: 20px;
		border-radius: 20px;

}


.my-comments {
	padding: 20px;
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 20px;

}

.users {
	padding: 20px;
	background-color: #fff;
}