// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.comments {
		padding: 20px;
		background-color :#aaa;
		margin-bottom: 20px;
		border-radius: 20px;

}


.my-comments {
	padding: 20px;
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 20px;

}

.users {
	padding: 20px;
	background-color: #fff;
}

	.footer {
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		background: #111;
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  font-size: 12px;
	  height: 70px; /* Set the fixed height of the footer here */

	  a {
	  	color: #fff;


	  }

	  a:hover {
	  	text-decoration: none;
	  }
		.fa-heart {
			color: #006DE7;
			font-size: 20px;
		}

		.fa-heart:hover {
			color: red;
			font-size: 30px;
			transition: 0.5s;
		}
	}


section {
	margin-bottom: 50px;
}

.table {
	margin-bottom: 150px;
}

.input-search {
	width: 300px!important;
}


.users {
	color: #111;
	background-color: transparent!important;
}

.users:hover {
	color: #111;
	text-decoration: none;
}

.landing-image {
	position: relative;
	background-image: url("https://s3-eu-west-1.amazonaws.com/markinsum/P1110222.JPG");
	background-repeat            : no-repeat center center fixed;
	-o-background-size           : cover;
	-moz-background-size         : cover;
	-webkit-background-size      : cover;
	-webkit-filter               : grayscale(40%);
	background-size              : cover;
	background-position          : center;
	height                       : 100vh;
	color: #fff;
}


.welcome-text {
	top: 400px;
	position: absolute;
	padding: 50px;
	color: #fff;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
 	h1 {
		font-size: 100px;
	}
}


@media screen and (max-width : 720px){
  .welcome-text{
  	 	h1 {
  			font-size: 30px;
  		}

  }
}