// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.comments {
		padding: 20px;
		background-color :#aaa;
		margin-bottom: 20px;
		border-radius: 20px;

}


.my-comments {
	padding: 20px;
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 20px;

}

.users {
	padding: 20px;
	background-color: #fff;
}

	.footer {
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		background: #111;
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  font-size: 12px;
	  height: 70px; /* Set the fixed height of the footer here */

	  a {
	  	color: #fff;
	  }

	  a:hover {
	  	text-decoration: none;
	  }
		.fa-heart {
			color: red;
			font-size: 15px;
		}
	}


section {
	margin-bottom: 50px;
}

.table {
	margin-bottom: 150px;
}

.input-search {
	width: 300px!important;
}